img{max-width:100%;}
body{
    font-family: 'Open Sans', sans-serif;
    background: url(./view/assets/bg.jpg) no-repeat #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-weight: 300;
}

/*form*/
.form {
    margin: 10em 30%;
    text-align: center;
}
.form input[type="text"]{
    font-size: 0.82355em;
    font-family: 'Open Sans', sans-serif;
    color: #B1B1B1;
    display: block;
    border: 2px solid rgba(216, 216, 216, 0.39);
    padding: 0.9em 0.9em;
    outline: none;
    text-align: left;
    -webkit-appearance: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    width: 320px;
    margin: 20px 10px;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.form input[type="submit"] {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    display: block;
    border: none;
    padding: 0.7em 0.9em;
    outline: none;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: bold;
    width: 352px;
    margin: 20px 10px 10px;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    outline: none;
    cursor: pointer;
    background: #90C842;
}
.form input[type="submit"]:hover {
    background:#0287CC;
    color:#fff;
}
.form input[type="text"]:hover{
    border:2px solid #0287CC;
    color: #0287CC;
}
